pipeline/SetVar_Dynamic.json
{
	"name": "SetVar_Dynamic",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var",
					"value": "Santosh Kumar"
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var1",
					"value": {
						"value": "@concat(variables('var'), ' Dundigala')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var": {
				"type": "String"
			},
			"var1": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-17T16:24:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}